<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    {% include 'nav.html' %}

    <h1>{{ Name|capfirst }}</h1>
    
    <h3>Bu tashqi tomon uzgarmasdn faqat block ichdagi block content Malumotlar alamshib turadi endblock </h3>

        start------------------------------------------------------------------------------ <br> <br>

    {% block content %}

    almashib turuvchi xabar 
    
    {% endblock %}

    end------------------------------------------------------------------------------------ <br>
    <a href="https://kirr.co/lcdhbf">Kodlar yuklash</a>

</body>
</html>